<ion-header>
  <ion-toolbar>
    <ion-title>Atb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-list-header>Pembayaran Air</ion-list-header>

      <ion-item>
        <ion-label>N. Pelanggan:</ion-label>
        <ion-input placeholder="3311xxxx"></ion-input>
      </ion-item>

      <ion-label>Tanggal:</ion-label>
      <ion-col size="10">
        <ion-input readonly [(ngModel)]="selectedDate"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-button (click)="openDatePicker()">Open</ion-button>
      </ion-col>

      <ion-item>
        <ion-label>Jumlah :</ion-label>
        <ion-input placeholder="Masukkan jumlah tagihan"></ion-input>
      </ion-item>

    </ion-row>
  </ion-grid>

  <ion-button shape="round" expand="block" href="/detail-pembayaran">OK</ion-button>
  
</ion-content>